/* style.css */

/* ------------------------------------------------------- */
/*Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ------------------------------------------------------- */
/*Formateando*/

body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.mp-0{
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------- */
/* Background color */

.bg-lightgray{
    background-color: #e7e7e7;
}

.bg-blue{
    background-color: #25527b;
}

.bg-white{
    background-color: white;
}

/* ------------------------------------------------------- */
/*Estilos Flex*/

.f-row{
    display:flex;
    flex-direction: row;
}

.f-column{
    display:flex;
    flex-direction: column;
}

.f-start-star{
    justify-content: start;
    align-items: start;
}

.f-start-center{
    justify-content: start;
    align-items: center;
}

.f-between-center{
    justify-content:space-between;
    align-items: center;
}

.f-between-start{
    justify-content:space-between;
    align-items: start;
}

.f-center-center{
    justify-content: center;
    align-items: center;
}

.f-center-start{
    justify-content: center;
    align-items: start;
}

.f-evenly-center{
    justify-content:space-evenly;
    align-items: center;
}


/* ------------------------------------------------------- */
/*Estilos de Textos*/
/* Los nombres de los estilos se componene de: .text-color-tamaño-grosor-alineación*/

/* text-white-medium-normal-center */
.text-w-m-n-c{
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

/* text-darkestgray-large-bold-start */
.text-dtg-l-b-s{
    color:#393e48;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
}

/* text-darkgray-medium-normal-start */
.text-dg-m-n-s{
    color:#45448e;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;
}

/* text-gray-medium-lighter-start */
.text-g-m-n-s{
    color:#9d9fa5;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;
}



/* text-darkestgray-xlarge-bold-center */
.text-dtg-xl-b-c{
    color:#393e48;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* text-darkgray-small-normal-center */
.text-dg-s-l-c{
    color:#45448e;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.text-link{
    text-decoration: none;
}

/* ------------------------------------------------------- */
/*Estilos Contenedores*/

.p-1{
    padding: 1rem;
}

.p-1-5{
    padding: 1.5rem;
}

.p-side-1-5{
    padding: 0 1.5rem 0 1.5rem;
}

.g-0-5{
    gap: 0.5rem;
}

.g-1{
    gap: 1rem;
}

.g-1-5{
    gap: 1.5rem
}

.navbar{
    grid-area: navbar;
    height: 100%;
}

.asidebar{
    grid-area: asidebar;
}

.productgrid{
    height: auto;
    width: auto;
    grid-area: productgrid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: auto;
}

.card{
    width: 100%;
    height: 100%;
}

.card-header{
    flex-grow: auto;
}

.image-format{
    max-height: 10rem;
}

.card-body{
    flex-grow: 2;
    flex-basis: 3rem;
    width: 100%;
}

.card-footer{
    flex-grow: 1;
    flex-basis: 1.5rem;
    width: 100%;
}

.button{
    width: 100%;
    height: 100%;
    border-style: none;
}

.footer{
    height: 100%;
    grid-area:footer;
}

.layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "asidebar productgrid"
    "footer footer";
    gap: 0;
    grid-template-rows: 3.5rem auto 2.5rem;
    grid-template-columns: 11rem auto;
}